</main>  
<!-- Footer -->
  <footer class="py-2 bg-dark">
    <a href="/help" class="icon"><b>?</b></a>
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; START.CODE 2020</p>
    </div>
    <!-- /.container -->
  </footer>  
<!-- Bootstrap core JavaScript -->
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

  <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
</body>

</html>