<% include ./partials/header %>

<h1>Alle Kurse</h1>

<div class="table-responsive-sm my-5">
  <table class="table">
	  <thead>
		<tr>
		  <th scope="col">Kurse</th>
		  <th scope="col" class="text-right"></th>
		</tr>
	  </thead>
	  <tbody>
		<% courses.forEach(function(course){ %>
		<tr>
			<td scope="row">
				<%= course.title %>
			</td>
			<td class="text-right">
				<div class="btn-group" role="group">
				  <div class="btn-group" role="group">
					<button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					  Aktionen
					</button>
					<div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
						<a class="dropdown-item" role="button" href="/course/<%= course.id %>">Anzeigen</a>
						<a class="dropdown-item" href="/course/edit/<%= course.id %>">Bearbeiten</a>
						<a class="dropdown-item" href="/course/students/<%= course.title %>">Teilnehmer</a>
					</div>
				  </div>
				</div>
			</td>
		</tr>
  		<% }); %>
	  </tbody>
  </table>
</div>

<% include ./partials/footer %>
