<% include ./partials/header %>

<p><b>Excuse us!</b> An Error occurred and we have to look into it. <%= error %></p>
<button class="btn btn-sm btn-outline-info my-2" onclick="window.history.back()">Go Back</button>

<% include ./partials/footer %>
