<% include ./partials/header %>

<h1>Dashboard</h1>
<p>Welcome back, <%= username %></p>
<div class="container">
	<div class="row">
		<% courses.forEach(function(course){ %>
		<div class="col-sm-6">
			<div class="card">
			  <p class="card-header">Enrolled in Course</p>
			  <div class="card-body">
				<h5 class="card-title"><%= course.course_title %></h5>
				<a href="/course/<%= course.course_id %>" class="btn btn-warning">Anzeigen</a>
			  </div>
			</div>
		</div>
		<% }); %>
	</div>
</div>

<% include ./partials/footer %>
