<% include ./partials/header %>

<button class="btn btn-sm btn-outline-info my-2" onclick="window.history.back()">Go Back</button>
<h1>All Users in LMS</h1>

<div class="table-responsive-sm my-5">
  <table class="table">
	  <thead>
		<tr>
		  <th scope="col">Users</th>
		  <th scope="col" class="text-right"></th>
		</tr>
	  </thead>
	  <tbody>
		<% users.forEach(function(user){ %>
		<tr>
			<td scope="row">
				<%= user.id %>
			</td>
			<td>
				<%= user.username %>
			</td>
		</tr>
  		<% }); %>
	  </tbody>
  </table>
</div>

<% include ./partials/footer %>
