<% include ./partials/header %>

<h1><%= title %></h1>

<div class="table-responsive-sm">
  <table class="table">
	  <thead>
		<tr>
		  <th scope="col">Lessons</th>
		</tr>
	  </thead>
	  <tbody>
		<% lessons.forEach(function(lesson){ %>
		<tr>
			<th scope="row">
				<%= lesson.lesson_title %>
			</th>
			<td class="text-right">
				<a href="/lesson/<%= lesson.lesson_id %>"><button class="btn btn-dark btn-sm">Anzeigen</button></a>
			</td>
		</tr>
  		<% }); %>
	  </tbody>
  </table>
</div>

<% include ./partials/footer %>
