<% include ./partials/header %>

<h1>Kurs Erstellen</h1>
<p>Einen Kurs erstellst du mit einem Namen und einer Auswahl an Lessons</p>
<div class="form-group">
	<label for="exampleInputEmail1">Kurstitel</label>
	<input type="text" class="form-control" id="title" aria-describedby="emailHelp" name="title">
</div>
<div class="table-responsive-sm">
  <table class="table">
	  <thead>
		<tr>
		  <th scope="col">Lesson</th>
		  <th scope="col">Hinzufügen</th>
		</tr>
	  </thead>
	  <tbody>
		<% lessons.forEach(function(lesson){ %>
		<tr>
			<th scope="row">
				<%= lesson.title %>
			</th>
		    <td>
				<input type="checkbox" name="<%= lesson.id %>" lesson="<%= lesson.title %>">
		    </td>
		</tr>
  		<% }); %>
	  </tbody>
  </table>
</div>
<button id="send" class="btn btn-primary">Senden</button>

<script>

$('#send').click(function(){
	var selected = [];
	$('input:checked').each(function() {
		var id = parseInt($(this).attr('name'),10)
		var title = $(this).attr('lesson')
		selected.push({id: id, title: title});
	});
	var title = $('#title').val()
	console.log(title, selected)
	sendData({title: title, selected: selected})
})
function sendData(data){
	$.ajax({
	  method: "POST",
	  url: "/create-course",
	  data: data
	})
	  .done(function( msg ) {
		window.location = "/trainer";
	  });
}
</script>

<% include ./partials/footer %>
