<% include ./partials/header %>

<h1>Trainer</h1>

<ul class="list-group">
  <a href="/courses"><li class="list-group-item">Kursübersicht</li></a>
  <a href="/create-lesson"><li class="list-group-item">Lesson erstellen</li></a>
  <a href="/create-course"><li class="list-group-item">Kurs erstellen</li></a>
</ul>

<% include ./partials/footer %>
